body {
  /* background-color:rgb(210, 236, 243); */
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  BACKGROUND-POSITION-Y: center;
  BACKGROUND-POSITION-Y: -15rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  /* background-image: url("./img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center -15rem;
  font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


.dropzone {
  border: 2px dashed rgb(63, 154, 215);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  background-image: url("./img/drag.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem; /* Adjust the height value as needed */
  width: 20rem; /* Adjust the height value as needed */
  margin-bottom: 0.5rem;
}

.dropzone.file-selected {
  background-image: none;
}

.dropzone.active {
  border-color: rgb(253, 163, 59);
}

.dropzone p {
  transition: color 0.3s ease-in-out;
}

.dropzone.active p {
  color: rgb(253, 163, 59);
}

.dropzone input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.selected-file {
  font-size: 18px;
  font-weight: bold;
  color: rgb(253, 163, 59);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(210, 236, 243);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding: 1rem;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  width: 200px;
  margin-right: 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.left-section h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  /* text-align: right; */
  color: rgb(67, 221, 193);
}

.navbar button {
  background-color: rgb(63, 154, 215);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.navbar button:hover {
  background-color: rgb(253, 163, 59);
}

.file-share-container {
  margin: 20px auto;
  width: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 245, 252);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(63, 154, 215);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(63, 154, 215);
}

input {
  border-radius: 10px;
  border: 1px solid rgb(63, 154, 215);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.enter-code {
  color: rgb(63, 154, 215);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-button {
  background-color: rgb(63, 154, 215);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.upload-button:hover {
  background-color: rgb(253, 163, 59);
}

.upload-progress {
  font-size: 16px;
  margin-left: 10px;
}

.copy-button,
.download-button {
  background-color: rgb(63, 154, 215);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 10px;
}

.copy-button:hover,
.download-button:hover {
  background-color: rgb(253, 163, 59);
  cursor: pointer;
}

.copy-button:hover:focus,
.download-button:hover:focus {
  outline: none;
}

.copy-button:hover:disabled,
.download-button:hover:disabled {
  background-color: rgb(63, 154, 215);
  cursor: not-allowed;
}

.downloadLink {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(63, 154, 215);
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.file-share-container {
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filedata {
  background-color: rgb(210, 236, 243);
  padding: 20px;
  border-radius: 10px;
}

.filedata p {
  font-size: 24px;
  font-weight: bold;
  color: rgb(63, 154, 215);
  margin-bottom: 10px;
}

.filedata ul {
  list-style: none;
  padding-left: 0;
}

.filedata li {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(63, 154, 215);
}

.downloadanchor {
  text-decoration: none;
  color: white;
}




.filedata {
  background-color: rgb(210, 236, 243);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.filedata p {
  font-size: 24px;
  font-weight: bold;
  color: rgb(63, 154, 215);
  margin-bottom: 10px;
}

.filedata ul {
  list-style: none;
  padding-left: 0;
}

.filedata li {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(63, 154, 215);
}

.filedata li:last-child {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  margin-top: 20px; /* Add some space between the QR code and the list items */
}

.filedata li:last-child button {
  margin-right: 10px;
}

.filedata li:last-child .downloadLink a {
  margin-left: 10px;
}

.filedata li:last-child .downloadLink a:hover {
  text-decoration: underline;
}

.filedata li:last-child p {
  margin-bottom: 5px;
}

.filedata li:last-child .qrcode-container {
  display: flex;
  justify-content: center; /* Center the QR code horizontally */
  align-items: center; /* Center the QR code vertically */
  margin-top: 10px; /* Add some space between the QR code and the list items */
}

.filedata li:last-child .qrcode-container > div {
  max-width: 200px; /* Set a max width for the QR code */
}

.progress-bar {
  height: 10px;
  background: linear-gradient(to top, rgb(210, 236, 243) 0%, transparent 0%);
  transition: background 0.5s ease-in-out;
}

.main.uploading .progress-bar {
  background: linear-gradient(to top, rgb(210, 236, 243) var(--progress), transparent 0%);
}

@media (max-width: 768px) {
  .file-share-container {
    width: 80%;
  }
}
